i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.load {
  background-color: #00008b;
  width:0;
  height:30px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 50vw;
  }
  100% {
    width: 0;
  }
}

header {
  top: 5px;
  left: 5px;
  position: fixed;
}

header, footer {
  width: calc(100svw - 10px);
  height: 50px;
}

header, footer, article {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.8);
}