/* var */
$main-bg: #213a70;
$main-color: #fff;
$body-bg: #fff;
$body-color: #000;
$dark-bg: #000;
$dark-color: #fff;

body {
  background-color: $body-bg;
  color: $body-color;
}

header {
  background-color: $main-bg;
  color: $main-color;
  padding: 2px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 10svh;
}