$theme-color: #0000ff;
$theme-text-color: #f2f2f2;
$margin: 5px;
$padding: 5px;
$width: calc(100svw - $margin * 2);

$header-height: calc(20svh - $margin * 2);

$dialog-margin: 5svmin;
$dialog-height: calc(100svh - $dialog-margin * 2);
$dialog-width: calc(100svh - $dialog-margin * 2);
$dialog-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

$bg-color: rgba(255, 255, 255, 0.8);
$text-color: #0d0d0d;
$mark-color: #ff0;
$shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

@media (prefers-color-scheme: dark) {
  $bg-color: rgba(0, 0, 0, 0.8);
  $text-color: #f2f2f2;
  $mark-color: #ff99cc;
  $shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
  color: $text-color;
  z-index: 1;
}

article {
  backdrop-filter: blur(5px);
  background-color: $bg-color;
  border-radius: 10px;
  box-shadow: $shadow;
  padding: $padding;
  z-index: 2;
}

blink {
  animation: 0.5s linear 0s alternate none infinite running blink;
}

body {
  background-color: $bg-color;
}

footer {
  backdrop-filter: blur(5px);
  background-color: $bg-color;
  border-radius: 10px;
  box-shadow: $shadow;
  padding: $padding;
  width: $width;
  z-index: 2;
}

header {
  backdrop-filter: blur(5px);
  background-color: $bg-color;
  border-radius: 10px;
  box-shadow: $shadow;
  color: $theme-text-color;
  height: $header-height;
  left: $margin;
  padding: $padding;
  top: $margin;
  width: $width;
  z-index: 3;
}

h1 {
  border-left: 0.5rem solid $theme-color;
}

i {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

mark {
  animation: move-bg 2s linear infinite;
  background: linear-gradient(
    90deg,
    transparent,
    transparent 45%,
    $mark-color 45%,
    $mark-color 55%,
    transparent 55%,
    transparent
  );
  background-size: 200% 100%;
}

table {
  border-collapse: collapse;
}

.dialog {
  background-color: $bg-color;
  height: $dialog-height;
  left: $dialog-margin;
  position: fixed;
  top: $dialog-margin;
  width: $dialog-width;
  z-index: 4;
}

.hide {
  display: none;
}

.load {
  animation: move-bg 1s linear infinite;
  background: linear-gradient(
    90deg,
    transparent,
    transparent 45%,
    $theme-color 45%,
    $theme-color 55%,
    transparent 55%,
    transparent
  );
  background-size: 200% 100%;
  border-radius: 10px;
  height: 10px;
  width: 50svw;
}

.open {
  display: block;
}

.openable-lists:last-child {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}

.openable-lists li {
  text-decoration: none;
}

.openable-lists:has(:first-child:hover):last-child {
  display: block;
  z-index: 4;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $theme-color;
  border-radius: 5px;
}

@keyframes blink {
  0%, 20% {
    opacity: 0;
  }
  20%, 100% {
    opacity: 1;
  }
}

@keyframes move-bg {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}