article {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  height: 10svh;
  width: calc( 100svw - 10px );
}

header {
  left: 5px;
  top: 5px;
}

i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.dialog {
  height: 80svh;
  left: 10svw;
  position: fixed;
  text-align: center;
  top: 10svh;
  width: 80svw;
}

.hide {
  display: none;
}

.load {
  animation: loading 1s linear infinite;
  background: linear-gradient(90deg, transparent,  transparent 45%, #0000ff 45%, #0000ff 55%,  transparent 55%,  transparent);
  background-size: 200% 100%;
  border-radius: 10px;
  height: 10px;
  width: 50%;
}

.open {
  display: block;
}

.openable-lists {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

@keyframes loading {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
