<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
      load cdn
    -->
    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js/src/ua-parser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/timezone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/utc.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/locale/ja.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/twemoji/dist/twemoji.npm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js/lib/typed.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qr-code-styling/lib/qr-code-styling.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/the-new-css-reset/css/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typed.js/assets/demos.min.css">
    <!--
      loaded cdn
    -->
    <script src="/scripts/script.js"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="manifest" href="/manifest.webmanifest">
    <script>
      window.addEventListener('load', function() {
        if('serviceWorker' in navigator){
          navigator.serviceWorker.register("/sw.js")
          .then(regi => {
            console.log("serviceWorker registed.");
          }).catch(e => {
            console.warn("serviceWorker error.", e);
          });
        }
      });
    </script>
  </head>
  <body>
    <header>
      <img src="{{ site.logo }}" alt="Logo">
      <h1>{{ site.title }}</h1>
      <h2>{{ page.title }}</h2>
      <nav>
        <ul>
          {% for item in site.data.navigate.pages %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
       </ul>  
      </nav>
    </header>
    {{ content }}
    <footer>
      <p>{{ page.date }} - Written by {{ page.author }}</p>
      <ul>
        {% for item in site.data.author_links.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
     </ul>
    </footer>
  </body>
</html>